/* Basic styling for the main div */
.maindivinreg {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  

  .excel-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    
  }
  
  .excel-table th, .excel-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #5a4949;
    
  }
  th{
    background-color: rgb(159, 159, 236);
  }
  
  .excel-table input, .excel-table select {
    width: 90%;
    padding: 8px;
    align-items: center;
    border: none;
  
  }
  .add-row {
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .add-row:hover {
    opacity: 0.8;
  }
  button {
    background-color: blue;
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer;
  }
  

  @media (max-width: 768px) {
    .excel-table th, .excel-table td {
      display: block;
      /* text-align: right; */
    }
  
    .excel-table th {
      background-color: #f4f4f4;
      font-weight: bold;
      padding-right: 15px;
    }
  
    .excel-table td {
      padding-left: 50%;
      text-align: left;
      position: relative;
    }
  
    .excel-table td::before {
      content: attr(data-label);
      position: absolute;
      left: 15px;
      top: 10px;
      font-weight: bold;
    }
  
    .maindivinreg {
      padding: 10px;
    }
  

  }
  